

svg {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

#zoomXBox {
    cursor:ew-resize;
}

#zoomYBox {
    cursor: ns-resize;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 2 
}

#rectangleOutline{
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    fill: none;
}

