

svg {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

#zoomXBox {
    cursor:ew-resize;
}

#zoomYBox {
    cursor: ns-resize;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 2 
}

#rectangleOutline{
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    fill: none;
}

.cogIcon{
    width: 15px;
    height: 15px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAqFBMVEUAAABFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFeFYaAAAAN3RSTlMAAQIDBAUGBwoLDA0ODxASHiUmKSw7Q0VJUlVrc3uOoqiqsre5ury+xczOz9XX2dze6e319/v91oit4gAAAH5JREFUCFttz0cKwgAARNEfjb3E3nvvNfrvfzNXoqBvNzAwDAAkYg+8ldpEajLopQDKN6dbdblxFwItPyoAEzXeP9UBEDXO2g9IjnRezaJ6BQhVVz+5UDt9+vUcMFbj/UMdAjS/9qpA/upspy7WHtMAhQ5FNQy6mfeF4O6Fv14GKhgEaCOP+AAAAABJRU5ErkJggg==")
}

#filters .axis path,
#filters .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: none 
}


.filterContainer{
    /*outline: black;
    outline-width: 1px;
    outline-style: solid;*/
    box-shadow: 3px 3px 2px #ccc;
    margin-left: 4px;

}
