

svg {
  font: 12px sans-serif;
  //shape-rendering: crispEdges;
}

#zoomXBox {
    cursor:ew-resize;
}

#zoomYBox {
    cursor: ns-resize;
}


.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 2 
}

.color.axis path,
.color.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 0 
}


#filters .axis path,
#filters .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: none 
}


.color.axis{
    cursor: ns-resize;
}

#rectangleOutline{
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
    fill: none;
}

.cogIcon{
    width: 15px;
    height: 15px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAA1VBMVEUAAAAAff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff9i1YelAAAARnRSTlMAAQIDBAYHCAkNDxYXGBkeISIjJCYnMzY9QVJcXV5fZGZnaGlrbG11jJGXmp2go6Wqq6+0t7nIys/R19na3unt7/H19/v98ZT2GAAAANNJREFUGBltwYlWglAYRtEDRBANNs9zaTZnRRNmovC9/yP1c7NcK9ibP9GjikufumuZI2q8QuaDmgU5EVNzp7vz0JXTwWvtH4aYYCBpPNREXkh6wRyowTbwqQZ3wIMatIGoL6e/5gdbQzmpj4kymTLBbKjy7OMsy6Q4I5mYHy2ZFGckE+OEbzJlgllXpedjwnc52arnb37J6XnAjRocAwM1uAfaarADzAwkjXNN5IWkVyrJxd4SdOV08FZOzmeZWpQT8Z9XymTU3cqcURc/qbwK+PUN9JxSzFViTw0AAAAASUVORK5CYII=")
}

.eraserIcon{
    width: 15px;
    height: 15px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAARVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADc6ur3AAAAFnRSTlMAAgMKCxUbHjM0XWFim6CmtbnDxd7xXSXl0gAAAEZJREFUCFs9x0kCgCAMBMEOirvigvz/qSYRnct0ga0XP9tSjvBn+WBZMXsqhHG9KzouiS8myODQJLUOS+LeEDZPRcrn4PUAJlkEj+JsHDEAAAAASUVORK5CYII=");
    background-position: 1px -1px;
}


.filterContainer{
    /*outline: black;
    outline-width: 1px;
    outline-style: solid;*/
    position: relative;
    box-shadow: 3px 3px 2px #ccc;
    margin-left: 4px;
    padding-top: 10px;

}

.boolParameterContainer{
    font-size: 0.7em;
    margin-top: 6px;
}

.boolParameterContainer input {
    float: left;
    margin-top: 0px;
}

.choiceParameterContainer {
    font-size: 0.8em;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.choiceParameterContainer label{
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}

.choiceParameterContainer select{
    float: right;
}


.brush .extent{
    fill-opacity: 0.6;
}

.parameterLabel {
    position: absolute;
    font-size: 0.8em;
    position: absolute;
    transform-origin: left;
}


.editButton{
    text-align: center;
    width: 11px;
    height: 11px;
    right: 1px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    z-index: 5;
    position: absolute;
}

.editButton.add:before {
    content: "+";
    line-height: 12px;
}


.editButton.remove:before {
    content: "–";
}


.axisLabel{
    pointer-events: all;
    cursor: pointer;

}

#regressionInfo{
    font-weight: bold;
    font-family: arial;
    font-size: 0.9em;
    background-color: white;
    position: absolute;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 5;
}

#parameterInfo{
    font-family: arial;
    font-size: 0.8em;
    background-color: white;
    position: relative;
    width: 270px;
    border-width: 1px;
    border-style: solid;
    border-color: #444;
    padding: 5px;
    text-align: center;
    z-index: 5;
}

.color-picker-h, .color-picker-sv{
    top: 0 !important;
}

.svgIcon{
    margin-right: 5px;
}

.labelitem{
    margin: 5px;
    cursor: pointer;
}

.parameterClose{
    float: right;
    margin-top: -9px;
    cursor: pointer;
}

#parameterSettings label, 
#parameterSettings input,
#parameterSettings select {
    display: inline-block;
}

#parameterSettings label {
    width: 30%;
    text-align: right;
}

#parameterSettings label + input{
    width: 55%;
    margin: 0 5% 10px 4%;
}

#parameterSettings label + select{
    width: 57%;
    margin: 0 3% 10px 4%;
}

#parameterSettings input + input {
    float: right;
}

#parameterSettings input + select {
    float: right;
}

/*#parameterSettings input, select{
    margin-bottom: 10px;
}*/

#parameterSettings{
    font-family: arial;
    font-size: 0.8em;
    background-color: white;
    position: relative;
    width: 270px;
    border-width: 1px;
    border-style: solid;
    border-color: #444;
    padding: 5px;
    padding-top: 15px;
    z-index: 5;
    margin-top: 14px;
}

.buttonContainer{
    width: 100%;
}

#applyButton{
    width: 100%;
}


#ySettings{
    position: absolute;
    z-index: 500;
    width: 210px;
    padding: 5px;
    padding-right: 24px;
    max-height: 200px;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}


#xSettings{
    position: absolute;
    z-index: 500;
    width: 210px;
    padding: 5px;
    padding-right: 24px;
    max-height: 200px;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.choices__inner{
    min-height: 22px!important;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 5px!important;
}


.choices__item{
    font-size: 12px !important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.choices__list--single {
    padding: 0px!important;
}


#colorscaleContainer{
    float: right;
    height: 100%;
}


.filterContainer.maskfilter {
    overflow-y: scroll;
    overflow-x: hidden;
}

.maskinput{
    position:relative;
    float: left!important;
}

.filterContainer label{
    width: 120px;
    font-size: 0.8em;

    position:relative;
    left: 30px;

    display:inline-block;
    vertical-align:middle;
}



/* Label selection styles */
.choices__inner{
    padding: 0!important;
    padding-left: 5px!important;
}

.choices__list{
    padding-left: 5px!important;
}

.choices__item.choices__item--selectable{
    margin-top: 3px!important;
}

.choices__item{
    border-radius: 3px!important;
}

.cross {
    width: 8px;
    height: 8px;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
}

.labelClose{
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1;
}

#ySettings .choices{
    margin-bottom: 5px!important;
}

.axisOption{
    font: 400 13.3333px Arial;
}

.axisOption label {
    cursor: pointer;
}

.axisOption input {
    vertical-align: top;
    margin-top: 1px;
    float: right;
}


.graphlyTooltip{
    position: absolute;
    background-color: white;
    display: none;
    width: 265px;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 10;
    font-size: 0.9em;
    font-family: 'arial';
    padding: 5px;
}
